@using OurTrace.App.Models.ViewModels.Profile
@model ProfileViewModel

<div class="col-lg-6">
    <div class="main-ws-sec">
        <!--user-name-tags-section-start-->
        <div class="user-tab-sec">
            <h3>@Model.FullName</h3>
            <div class="star-descp">
                <span>@@@Model.Username</span>
            </div>
        </div>
        <!--user-name-tags-section-end-->
        <!--user-core-posts-section-start-->
        <div class="product-feed-tab current" id="feed-dd">
            <div class="posts-section">
                <vc:create-post model="@Model.WallId" is-group="false"></vc:create-post>

                <!--post-embeded-menu-start-->
                @if (Model.AreFriends || Model.IsHimself)
                {
                    <div class="post-topbar">
                        <div class="user-picy">
                            <img src="/file/profilepicture/@this.User.Identity.Name" style="width:50px; height:50px;" alt="">
                        </div>
                        <div class="post-st">
                            <ul>
                                <li><a class="post_project active" href="#" title="">New Post</a></li>
                            </ul>
                        </div>
                    </div>
                }
                <!--post-embeded-menu-end-->

                <vc:posts model="@Model.Posts"></vc:posts>
                <!--<div class="process-comm">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>-->
            </div>
        </div>
        <!--user-core-posts-section-end-->
    </div>
</div>