@using OurTrace.App.Models.ViewModels.Profile
@model ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}
<!--cover-start-->
<div class="cover-sec @(Model.IsHimself ? "image-change-menu" : "")">
    <img src="@Url.Action("CoverPicture","File",new { name=Model.Username })" style="width:100%; height: 400px;" alt="">
</div>
<!--cover-end-->

<vc:change-image is-group="false" group-name="" ></vc:change-image>

<div class="main-section">
    <div class="container">
        <div class="main-section-data">
            <div class="row">
                <partial name="_ProfileLeftBarPartial" model="Model" />
                <partial name="_ProfilePostAreaPartial" model="Model" />
                <partial name="_ProfileRightBarPartial" model="Model" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/post.js" asp-append-version="true"></script>
    <script src="~/js/image-change.js" asp-append-version="true"></script>
}