@using OurTrace.App.Models.ViewModels.Profile
@model ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}
<!--cover-start-->
<section class="cover-sec">
    <img src="~/images/default_background.jpg" style="width:100%; height: 400px;" alt="">
</section>
<!--cover-end-->

<div class="main-section">
    <div class="container">
        <div class="main-section-data">
            <div class="row">
                <partial name="_ProfileLeftBarPartial" model="Model" />
                <partial name="_ProfilePostAreaPartial" model="Model" />
                <partial name="_ProfileRightBarPartial" model="Model" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/post.js" asp-append-version="true"></script>
}