@using OurTrace.App.Models.InputModels.Posts
@using OurTrace.Data.Models
@model CreatePostInputModel

@if (Context.Request.Cookies["Errors"] != null)
{
    Model.Errors = Context.Request.Cookies["Errors"].Split(';');
    Context.Response.Cookies.Delete("Errors");
    Model.PostState = "active";
}

<!--post-form-start-->
<div class="post-popup pst-pj @Model.PostState">
    <div class="post-project">
        <h3>Create New Post</h3>
        <div class="post-project-fields">
            <form asp-controller="Post" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-12">
                        @foreach (var error in Model.Errors)
                        {
                            <div class="text-danger">@error</div>
                        }
                    </div>
                    <div class="col-lg-12">
                        <span>Content</span>
                        <textarea asp-for="Content" placeholder="Post content" class="mt-2"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <span>Image</span>
                        <input asp-for="MediaFile" class="mt-2" />
                    </div>
                    <div class="col-lg-12">
                        <span>OR image from external source (direct link to image)</span>
                        <input asp-for="ExternalMediaUrl" class="mt-2" />
                    </div>
                    <div class="col-lg-12">
                        <span>Tags (separated by comma, Example: happy,graduated,school)</span>
                        <input asp-for="Tags" class="mt-2" />
                    </div>
                    @if (!Model.IsGroupPost)
                    {
                        <div class="col-lg-12">
                            <span>Post Visibility</span>
                            <select asp-for="VisibilityType" asp-items="Html.GetEnumSelectList<PostVisibilityType>()" class="mt-2"></select>
                        </div>
                    }
                    <input asp-for="Location" type="hidden" value="@Model.Location" />
                    <div class="col-lg-12">
                        <ul>
                            <li><button class="active" type="submit" value="post">Post</button></li>
                            <li><a href="" title="">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <a href="#" title=""><i class="la la-times-circle-o"></i></a>
    </div>
</div>
<!--post-form-end-->