@using OurTrace.App.Models.InputModels.Message
@model SendMessageInputModel

<div>
    <input id="recipient-input" name="Recipient" type="hidden" value="" />
    <div class="mf-field">
        <input id="message-input-box" type="text" autocomplete="off" placeholder="Type a message here">
        <button id="sendButton" type="submit">Send</button>
    </div>
</div>