@model string
@{
    ViewData["Title"] = "Chat Error";
}

@section Css {
    <link rel="stylesheet" type="text/css" href="~/css/chat.css">
}
<h3 class="text-center bg-white p-3 mt-3">Error! @Model</h3>

