@using OurTrace.App.Models.InputModels.Global
@model ChangeImageInputModel

<div class="row">
    <section class="col-lg-12 mb-5">
        <div class="row">
            <div class="col-lg-6">
                <span class="mb-2">Current cover image</span>
                <img id="current-cover-image" src="" style="width:100%" />
            </div>
            <div class="col-lg-6">
                <span>Pick new image</span>
                <input asp-for="CoverImageMediaFile" class="mt-2" />
            </div>
        </div>

    </section>

    <section class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <span>Current front image</span>
                <img id="current-front-image" src="" style="width:50%" />
            </div>
            <div class="col-lg-6">
                <span>Pick new image</span>
                <input asp-for="FrontImageMediaFile" class="mt-2" />
            </div>
        </div>
    </section>

    <div class="col-lg-12">
        <ul>
            <li><button class="active" type="submit" value="post">Change</button></li>
            <li><a href="" title="">Cancel</a></li>
        </ul>
    </div>
</div>