<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="OurTrace - the leading social network!" />
    <meta name="keywords" content="social,network,ourtrace" />
    <title>@ViewData["Title"] - OurTrace</title>

    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/line-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/css/line-awesome-font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/css/post.css">
    <link rel="stylesheet" type="text/css" href="~/css/image-popup.css">
    @RenderSection("Css", required: false)
</head>
<body>
    <div class="wrapper">
        <header class="fixed-top">
            <div class="container">
                <!--header-data-start-->
                <div class="header-data">
                    <!--logo-start-->
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="" style="width: 40px"></a>
                    </div>
                    <!--logo-end-->
                    <!--search-bar-start-->
                    <div class="search-bar">
                        <form action="/Search/All" method="get">
                            <input id="search-query" type="text" placeholder="Search...">
                            <button id="search-submit" type="submit" onclick="return false;"><i class="la la-search"></i></button>
                        </form>
                    </div>
                    <!--search-bar-end-->
                    <!--nav-menu-start-->
                    <nav>
                        <ul>
                            <li>
                                <a href="/" title="">
                                    <span><img src="~/images/icon_home.png" alt=""></span>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Group" asp-action="MyGroups" title="">
                                    <span><img src="~/images/group_menu_icon.png" alt="" style="width:20px;height:15px;"></span>
                                    Groups
                                </a>
                                <ul>
                                    <li>
                                        <a asp-controller="Group" asp-action="Discover" title="">Discover Groups</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Privacy" title="">
                                    <span><img src="~/images/privacy.png" style="width:22px;height:18px;" alt=""></span>
                                    Privacy
                                </a>
                            </li>

                            <li>
                                <vc:notifications></vc:notifications>
                            </li>
                        </ul>
                    </nav>
                    <!--nav-menu-end-->
                    <!--hidden-menu-start-->
                    <div class="menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div>
                    <!--hidden-menu-end-->

                    <div class="user-account">
                        <partial name="_LoginPartial" />

                    </div>

                </div>
                <!--header-data-end-->
            </div>
        </header>

        <div style="padding-top:3.5rem">
            <partial name="_CookieConsentPartial" />
            @RenderBody()
        </div>

    </div>

    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/popper.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.range-min.js" asp-append-version="true"></script>
    <script src="~/lib/slick/slick.min.js" asp-append-version="true"></script>
    <script src="~/js/global.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    <script src="~/js/localtime.js" asp-append-version="true"></script>
    <script src="~/js/image-popup.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
