@using Microsoft.AspNetCore.Identity
@using OurTrace.Data.Identity.Models
@inject SignInManager<OurTraceUser> SignInManager
@inject UserManager<OurTraceUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="user-info">
        <a href="#" id="user-identity" onclick="return false" title="">@User.Identity.Name</a>
    </div>
    <div class="user-account-settingss">
        <div class="us-links">
            <a asp-controller="User" asp-action="Profile" asp-route-username="@User.Identity.Name" title="" style="padding-left:40%;padding-right:40%;">Profile</a>
        </div>
        <h3 class="text-center"><a asp-controller="Message" asp-action="Chat">Chat</a></h3>
        @if (this.User.IsInRole("Admin"))
        {
            <h3 class="text-center"><a asp-area="Administration" asp-controller="Adverts" asp-action="Modify">[Admin] Modify Adverts</a></h3>
        }
        <h3 class="text-center">Settings</h3>
        <ul class="us-links">
            <li><a asp-controller="Settings" asp-action="Index" title="">Account Settings</a></li>
        </ul>
        <h3 class="tc"><a asp-area="Authentication" asp-controller="User" asp-action="Logout" title="">Logout</a></h3>
    </div><!--user-account-settingss end-->
}
else
{
    <div class="user-info">
        <a asp-area="Authentication" asp-controller="User" asp-action="Index">Login / Register</a>
    </div>
}