<section class="forum-sec">
    <div class="container">
        <div id="links-box" class="forum-links text-center font-weight-bold ">
            <ul>
                <li><a class="forum-links-bt" asp-controller="Adverts" asp-action="All">All</a></li>
                <li><a asp-controller="Adverts" asp-action="Add">Users</a></li>
                <li><a asp-controller="Adverts" asp-action="Remove">Groups</a></li>
                <li><a asp-controller="Adverts" asp-action="Edit">Posts</a></li>
                <li><a asp-controller="Adverts" asp-action="Delete">Comments</a></li>
            </ul>
        </div>
    </div>
</section>