<div class="tab-pane fade" id="nav-privacy" role="tabpanel" aria-labelledby="nav-privacy-tab">
    <div class="acc-setting">
        <h3>Privacy</h3>
        <form asp-controller="Settings" asp-action="DownloadPersonalData" method="post">
            <p class="text-center">You can download the profile user data that this website have about you.</p>
            <div class="save-stngs pd2 text-center">
                <ul>
                    <li><button type="submit">Download account data</button></li>
                </ul>
            </div><!--save-stngs end-->
        </form>
    </div><!--acc-setting end-->
</div>