@using OurTrace.App.Models.InputModels.Identity.Settings
@model DeleteAccountInputModel

<div class="tab-pane fade" id="nav-deactivate" role="tabpanel" aria-labelledby="nav-deactivate-tab">
    <div class="acc-setting">
        <h3>Delete Account</h3>
        <form asp-controller="Settings" asp-action="AccountDelete" method="post">
            <h3 class="text-danger text-center pt-2">WARNING! Account deletion is permanent and unreversable!</h3>
            <div class="col-lg-12 pt-xl-2" >
                <label asp-for="WarningState">
                    <input class="col-md-1 align-middle" asp-for="WarningState" />
                    <span class="align-middle">Yes, I understand that account deletion is permanent and wish to delete this account.</span>
                </label>
            </div>
            <div class="save-stngs pd3">
                <ul>
                    <li><button class="text-danger" type="submit">Delete Account</button></li>
                    <li><button onclick="window.location.href='/'">Cancel</button></li>
                </ul>
            </div><!--save-stngs end-->
        </form>
    </div><!--acc-setting end-->
</div>