@using OurTrace.App.Models.InputModels.Identity.Settings
@model ChangePasswordInputModel

<div class="tab-pane fade show active" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
    <div class="acc-setting">
        <h3>Change Password</h3>
        @if (ViewData["change-password-message"] != null)
        {
            <div class="text-success col-lg-9">@ViewData["change-password-message"]</div>
        }
        <div asp-validation-summary="All" class="text-danger col-lg-9"></div>
        <form asp-controller="Settings" asp-action="ChangePassword" method="post">
            <div class="cp-field">
                <h5>Old Password</h5>
                <div class="cpp-fiel">
                    <input asp-for="OldPassword" placeholder="Old Password">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="cp-field">
                <h5>New Password</h5>
                <div class="cpp-fiel">
                    <input asp-for="NewPassword" placeholder="New Password">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="cp-field">
                <h5>Repeat Password</h5>
                <div class="cpp-fiel">
                    <input asp-for="RepeatPassword" placeholder="Repeat Password">
                    <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="save-stngs pd2">
                <ul>
                    <li><button type="submit">Save</button></li>
                    <li><button type="button" onclick="clearInput()">Clear</button></li>
                </ul>
            </div><!--save-stngs end-->
        </form>
    </div><!--acc-setting end-->
</div>
<script>
    function clearInput() {
        $('.cpp-fiel input[type="text"]').val('');
    }
</script>