<div class="container">
    <div class="company-title form-group d-flex">
        <div class="full-width mt-2 p-2 input-group" >
            <h3 style="display:inline-block">Create new group</h3>
            <span class="form-control-plaintext"> and share stories, pictures and videos with your friends!</span>
            <a asp-controller="Group" asp-action="Create" class="form-control btn btn-primary">New group</a>
        </div>
    </div>
</div>

