@using OurTrace.App.Models.InputModels.Group
@model GroupCreateInputModel
@{
    ViewData["Title"] = "Create Group";
}
@if (TempData.ContainsKey("CreateGroupResult"))
{
    <div class="full-width bg-danger text-white p-2 m-2 text-center">@TempData["CreateGroupResult"]</div>
    { TempData.Remove("CreateGroupResult"); }
}
<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3>Create new group</h3>
        </div>
        <div class="companies-list">
            <div class="row">
                <div class="col-lg-12">
                    <div class="company_profile_info">
                        <div class="company-up-info row justify-content-center">
                            <form class="col-lg-8" asp-controller="Group" asp-action="Create" method="post">
                                <span class="form-control-plaintext">Please choose group name</span>
                                <input asp-for="Name" placeholder="Group Name" class="form-control mt-2 mb-2" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <button class="btn btn-secondary input-group-btn full-width bg-dark mt-2" type="submit" value="Create">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

