@using OurTrace.App.Models.ViewModels.Group
@model IEnumerable<GroupWindowViewModel>

@{
    ViewData["Title"] = "Discover Groups";
}

<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3>Discover Famous Groups</h3>
        </div>
        <div class="companies-list">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="company_profile_info">
                        <div class="company-up-info">
                            <img src="http://via.placeholder.com/90x90" alt="">
                            <h3>Facebook Inc.</h3>
                            <h4>Establish Feb, 2004</h4>
                            <ul>
                                <li style="width:50%"><a href="#" title="" class="follow" style="width:100%">Join</a></li>
                            </ul>
                        </div>
                        <a href="#" title="" class="view-more-pro">View Group</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
