@using OurTrace.App.Models.ViewModels.Group
@model IEnumerable<GroupWindowViewModel>

@{
    ViewData["Title"] = "My Groups";
}
<partial name="_CreateGroupPartial" />
<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3>My Groups</h3>
        </div>
        <div class="companies-list">
            <div class="row">
                @if (Model == null || !Model.Any())
                {
                    <div class="col-lg-12">
                        <div class="company_profile_info">
                            <div class="text-center company-title">
                                <h3>You don't participate in any groups!</h3>
                                <span>Discover new groups from <a asp-controller="Group" asp-action="Discover">Here</a>!</span>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @foreach (var group in Model)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="company_profile_info">
                                <div class="company-up-info">
                                    <a asp-controller="Group" asp-action="Open" asp-route-name="@group.Name" class="text-black-50">
                                        <img src="/file/grouppicture/@group.Name" style="width:90px; height: 90px;" alt="">
                                        <h3>@group.Name</h3>
                                    </a>
                                    <h4>@group.Members members</h4>
                                </div>
                                <a href="/Group/@group.Url" title="" class="view-more-pro">View Group</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>

