@using OurTrace.App.Models.ViewModels.Group
@model GroupOpenViewModel

@{
    ViewData["Title"] = "Group";
}
<!--cover-start-->
<section class="cover-sec @(Model.IsOwner ? "image-change-menu" : "")">
    <img src="@Url.Action("CoverPicture","File",new { name="Group_"+Model.Name })" style="width:100%; height: 400px;" alt="">
</section>
<!--cover-end-->

<vc:change-image is-group="true" group-name="@Model.Name"></vc:change-image>

<div class="main-section">
    <div class="container">
        <div class="main-section-data">
            <div class="row">
                <partial name="_OpenLeftMenuPartial" model="Model" />
                <partial name="_OpenPostAreaPartial" model="Model" />
                <partial name="_OpenRightMenuPartial" model="Model" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/post.js" asp-append-version="true"></script>
    <script src="~/js/joinrequests.js" asp-append-version="true"></script>
    <script src="~/js/group.js" asp-append-version="true"></script>
    <script src="~/js/image-change.js" asp-append-version="true"></script>
}
