@model IEnumerable<OurTrace.App.Models.ViewModels.Posts.PostViewModel>

@foreach (var post in Model)
{
    <div class="post-bar">
        <div class="post_topbar">
            <div class="usy-dt">
                <img src="http://via.placeholder.com/50x50" alt="">
                <div class="usy-name">
                    <h3>@post.Creator</h3>
                    <img src="~/images//clock.png" alt=""><span class="utcDate">@post.CreatedOn</span>
                </div>
            </div>
            <div class="ed-opts">
                <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                <ul class="ed-options">
                    <li><a href="#" title="">Edit Post</a></li>
                    <li><a href="#" title="">Unsaved</a></li>
                    <li><a href="#" title="">Unbid</a></li>
                    <li><a href="#" title="">Close</a></li>
                    <li><a href="#" title="">Hide</a></li>
                </ul>
            </div>
        </div>
        <div class="job_descp">
            <div class="postContent">@post.Content</div>

            <ul class="skill-tags">
                <li><a href="#" title="">HTML</a></li>
                <li><a href="#" title="">PHP</a></li>
                <li><a href="#" title="">CSS</a></li>
                <li><a href="#" title="">Javascript</a></li>
                <li><a href="#" title="">Wordpress</a></li>
            </ul>
        </div>
        <div class="job-status-bar">
            <ul class="like-com">
                <li>
                    <a href="#"><i class="la la-heart"></i> Like</a>
                    <img src="images/liked-img.png" alt="">
                    <span>25</span>
                </li>
                <li><a href="#" title="" class="com"><img src="images/com.png" alt=""> Comments @post.Comments.Count</a></li>
            </ul>
            <a><i class="la la-eye"></i>Views 50</a>
        </div>
    </div>
}