.postContent{
    max-height:350px;
    padding:10px;
    overflow:hidden;
	word-wrap: break-word;
}
.la-share {
	padding-left: 20px;
}
.utcDate {
	display: none;
}
.brightness-low {
	filter: brightness(50%);
}
.brightness-medium {
	filter: brightness(80%);
}
.brightness-max {
	filter: brightness(100%);
}
.middle-element {
	position: absolute;
	z-index: 9999;
}